/* Color definitions */
$lightGray: #fafafa;
$gray: #E5E5E5;
$darkGray: #BFBFBF;
$almostBlack: #333333;
$yellow: #FFE11A;
$blue: #004358;
$green: #1F8A70;
$orange: #FD7400;
$lightGreen: #BEDB39;
$lightBlue: #2e93c2;
$veryLightBlue: #9FBFD5;


/*Color scheme*/
$bodyBackground: $veryLightBlue;
$buttonClr: $lightBlue;
$buttonTextClr: white;
$popupHeader: $gray;
$modalBackground: $lightGray;
$modalInputBorder: 1px solid $darkGray;

$presentation: $blue;
$group_work: $orange;
$break: $yellow;
$discussion: $green;

.presentation {
	background-color: $presentation;
}

.group_work {
	background-color: $group_work;
}

.discussion {
	background-color: $discussion;
}

.break {
	background-color: $break;
}

 /*Standard sizes */
$standardSpace: 10px;
$activityWidth: 240px;
$dayHeaderHeight: 100px;
$listWidth: 250px;
$textInputHeight: 23px;
$loginFormPadding: 7px;
$activityInfoTop: 5px;
$activityTypeColorMargin: 4px;
$borderRadius: 5px;
$headerHeight: 50px;
$activityTitleHeight: 17px;
$listMargin: 20px;

$fadeTime: 0.1s;