$lightGrey: #ededed;
$grey: #a5a5a5;
$activityWidth: 240px;
$listWidth: 250px;
$yellow: #FFE11A;
$blue: #004358;
$green: #1F8A70;
$orange: #FD7400;
$lightGreen: #BEDB39;
$lightBlue: #2e93c2;

$textInputHeight: 23px;
$loginFormPadding: 7px;