body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

#mainFrame {
	background-color: yellow;
	height: 1000px;
}

#parkedActivitiesView {
	background-color: gray;
	float: left;
	width: 350px;
	height: 100%;
}

#parkedActivities {
	border: 1px solid black;
	width: 300px;
	padding-top: 5px;
}

#addParkedActivity {
	width: 300px;
}

.activityObject {
	height: 50px;
	width: 280px;
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
}

.btn {
	border-radius: 0px;
	background-color: #2da9ff;
	border: none;
	padding: 8px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
}

#modal_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}

#modal:target {
	opacity:1;
}

#modal {
	width: 400px;
	position: relative;
	margin: 10% auto;
	background: #fff;
}

.popupHeader {
  background-color: #2da9ff;
  padding: 10px;
}

.modalinput {
  position: relative;
  width: 360px;
  padding: 8px 5px;
  margin-bottom: 10px;
  border: solid #d6d6d6 1px;
  resize: none;
	font-size: 14pt;
}

.modalLabel {
  color: #9a9a9a;
}

.popupForm {
  padding: 20px 12px;
  background-color: #ededed;
}

.presentation {
	background-color: blue;
}

.group_work {
	background-color: red;
}

.discussion {
	background-color: green;
}

.break {
	background-color: yellow;
}

#daysView {
	background-color: gray;
	margin-left: 355px;
	height: 100%;
}

.day {
	background-color: white;
	width: 350px;
	height: 100%;
	float: left;
	margin: 5px;
	margin-right: 0px;
}

.dayHeader {
	height: 150px;
	border: 1px solid red;
}

.dayActivities {
	border: 1px solid black;
	margin-top: 10px;
}
