@import "constants";


body {
	font-family: "Helvetica Neue Thin", "Helvetica", Arial, sans-serif;
	font-size: 10pt;
	background-color: $bodyBackground;
}

ul {
	list-style-type: none;
	padding:0;
	margin:0
}

h4 {
	text-align: center;
	margin: 0px;
}

.dayName {
	text-align: center;
	font-size: 9pt;
	margin: 0px;
	margin-top: 2px;
	height: 20px;
}

p {
	margin: 0px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.border {
	border: 1px solid black;
}

#mainFrame {
	/*background-color: $lightGreen;*/
	height: 1000px;
}

#parkedActivitiesView {
	background-color: $lightGray;
	float: left;
	width: $listWidth + 10px;
	//height: 100%;
	min-height: 250px;
	/*border: 1px solid $gray;*/
	border-radius: $borderRadius;
	padding-bottom: 5px;
}

#parkedActivitiesHeader {
	height: $dayHeaderHeight;
	border-radius: 5px 5px 0px 0px;
	padding: 5px;
}


.activityList {
	margin: 5px;
	min-height: 20px;
	min-width: $listWidth;
	background-color: $lightGray;
}

#addActivityButton {
	position: relative;
	float: none;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}

.activityObject {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 5px;
	width: $activityWidth;
}

.activityTime {
	width: $activityWidth;
	height: 20px;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: -7px;	
	margin-top: 6px;
	float: left;
	display: block;
}

.topButton {
	border-radius: $borderRadius;
	background-color: $buttonClr;
	border: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
}

/*.buttonImage {
	margin-top: 6px;
}*/

.activityInfo {
	border-radius: $borderRadius;
	width: $activityWidth;
	height: 100%;
	border: 1px solid white;
	float: left;
	background-color: $gray;
	margin-top: 2px;
}

.tooShort {
	border-bottom: 1px solid black;
}

.activityTitle {
	padding: $activityInfoTop;
	height: 17px;
	background-color: $darkGray;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
	text-align: center;
}

.activityName {
	float: left;
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.activityPlaceholder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: $activityWidth;
	background-color: $lightGray;
	float:left;
}

.activityLocation {
	padding: 3px;
	font-size: 10pt;
}

.activityDescription {
	padding: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	//display: inline;
}

/*.activityListFooter {
	width: $activityWidth;
	height: 40px;
	background-color: $lightGray;
}*/

#addDay {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: $buttonClr;
	border: none;
	padding: 8px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
	margin-top: 100px;
	margin-left: 20px;
	float: left;
}

#daysView {
	/*background-color: white;*/
	margin-left: 280px;
	height: 100%;
	width: 3000px;
	position: absolute;
	overflow-x: scroll; 
}

.day {
	border-radius: $borderRadius;
	background-color: $lightGray;
	width: $listWidth + 10px;
	//height: 100%;
	min-height: 250px;
	float: left;
	margin-left: 5px;
	margin-right: 0px;
	padding-bottom: 10px;
	/*border: 1px solid $gray;*/
}

.dayHeader {
	height: $dayHeaderHeight;
	border-radius: 5px 5px 0px 0px;
	/*border-bottom: 1px solid $lightGray;*/
	background-color: $gray;
	padding: 5px
}

.dayHeaderTitle {
	text-align: center;
}

.dayInfoTable {
	font-size: 9pt;
}

.dayActivities {
	border: 1px solid black;
	margin-top: 10px;
}

.smallSelect {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0px;
	min-width: 24px;
	padding: 3px;
	color: $buttonTextClr;
	border: none;
	text-indent: 2px;
	background: $buttonClr;
}

.noBorderRight {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.noBorderLeft {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.betweenSelects {
	margin-right: -3px;
	margin-left: -3px;
}

.marked {
	background-color: purple;
}

.btn {
	border-radius: $borderRadius;
	background-color: $buttonClr;
	border: none;
	padding: 8px;
	color: $buttonTextClr;
	font-size: 12pt;
	cursor: pointer;
	float: right;
	margin-bottom: 10px;
	margin-left: 5px;
}

.badBtn {
	background-color: red;
}

.modal_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}

.modal {	
	width: 400px;
	position: relative;
	margin: 5% auto;
	background-color: $modalBackground;
	max-height: 100%;
	overflow: auto;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
}

.popupHeader {
	background-color: $popupHeader;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
	padding: 10px;
	margin-top: -1px;
	overflow: hidden;
	color: black;
}

.popupHeader_title {
	float: left;
}

.popupHeader_button {
	float: right;
	cursor: pointer;
}

.modalinput {
	position: relative;
	width: 360px;
	padding: 5px 5px;
	margin-bottom: 10px;
	border: $modalInputBorder;
	/*border: 1px solid white;*/
	/*border-radius: $borderRadius;*/
	resize: none;
	font-size: 10pt;
}

.modalSelect {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $buttonTextClr;
	border: none;
	text-indent: 2px;
	background: $buttonClr url("popupmenuarrow_white.png") no-repeat 98% 50%;
	border-top-right-radius: $borderRadius;
}

.modalinputNumberLeft {
	width: 30px;
	background: $buttonClr;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: 5px;
}

.modalinputNumberRight {
	width: 30px;
	background: $buttonClr;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.modalinputNumberMiddle {
	width: 30px;
	background: $buttonClr;
	border-radius: 0;
}

.modalinputNumber4 {
	width: 45px;
	background: $buttonClr;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.modalLabel {
	color: black;
}

.yearLabel {
	text-align: center;
	width: 40px;
	padding-bottom: 0px;
}

.monthLabel {
	text-align: center;
	width: 29px;
	padding-bottom: 0px;
}

.dayLabel {
	text-align: center;
	width: 29px;
	padding-bottom: 0px;
}

.popupForm {
	padding: 20px 12px;
}

.typeIndicator {
	height: 10px;
	width: 30px;
	border-radius: $borderRadius;
	float: right;
	margin-top: $activityTypeColorMargin;
}

#scheduleList {
	background-color: gray;
	padding: 5px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

#scheduleListTable {
	width: 100%;
}

.scheduleListItem {
	background-color: white;
	cursor: pointer;
	padding: 2px;
	margin-bottom: 2px;
	overflow: hidden;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.fullwidth {
	width: 100%;
}

.title {
	font-size: 14pt;
	margin-top: 1pt;
	margin-left: 5px;
	margin-bottom: 20px;
	overflow: hidden;
}

#scheduleTitleInput {
	font-size: 14pt;
}

.scheduleViewTop {
	margin-top: -5px;
}

.scheduleViewTop tr {
	height: 40px;
	vertical-align: middle;
}

.infoBox {
	position: fixed;
	top: 5px;
	right: 5px;
	height: 37px;
	width: 170px;
	padding-left: 3px;
	background-color: $gray;
	font-size: 8pt;
	border-radius: $borderRadius;
	border: 1px solid $bodyBackground;
	z-index: 40;
}

.infoBoxTable td {
	width: 90px;
	
}

.editDay {
	position: relative;
	top: 2px;
	left: 2px;
	height: 20px;
	float: left;
	cursor: pointer;
	visibility: hidden;
}

.editActivity {
	position: relative;
	z-index: 50;
	cursor: pointer;
	float: left;
	visibility: hidden;
	width: 26px;
	text-align: left;
}

.dayHeader:hover .editDay {
	visibility: visible;
}

.dayHeader td {
	height: 16px;
	padding-right: 7px;
}

.activityObject:hover .editActivity {
	visibility: visible;
}

.weather {
/*	border-radius: $borderRadius;*/
	/*padding: 5px;*/
	position: absolute;
	margin-top: -11px;
	margin-left: 163px;
	float: right;
	font-size: 9pt;
}

.weatherInfo {
	margin-top: -10px;
	text-overflow: ellipsis;
}

.diagramContainer {
	float: right;
	position: relative;
	height: $dayHeaderHeight + 10;
	margin-right: -5px;
	margin-top: -5px;
	overflow: hidden;
}

.diagram {
	width: 10px;
	background-color: red;	
}

/* I cant understand why, but these must be defined here again, despite also being defined in constants */

.presentation {
	background-color: $presentation;
}

.group_work {
	background-color: $group_work;
}

.discussion {
	background-color: $discussion;
}

.break {
	background-color: $break;
}

.diagramLine {
	background-color: red;
	position: absolute;
	height: 2px;
	width: 36px;
	margin-left: -3px;
	top: ($dayHeaderHeight + 10) * 0.7;
}