#mainFrame {
	background-color: yellow;
	height: 1000px;
}

#parkedActivitiesView {
	background-color: gray;
	float: left;
	width: 350px;
	height: 100%;
}

#parkedActivities {
	border: 1px solid black;
	width: 300px;
	padding-top: 5px;
}

#addParkedActivity {
	width: 300px;
}

.parkedActivityObject {
	height: 50px;
	width: 280px;
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
}

.presentation {
	background-color: blue;
}

.group_work {
	background-color: red;
}

.discussion {
	background-color: green;
}

.break {
	background-color: yellow;
}

#daysView {
	background-color: gray;
	margin-left: 355px;
	height: 100%;
}

.day {
	background-color: white;
	width: 350px;
	height: 100%;
	float: left;
	margin: 5px;
	margin-right: 0px;
}

.dayHeader {
	height: 150px;
	border: 1px solid red;
}

.dayActivities {
	border: 1px solid black;
	margin-top: 10px;
}