$lightGray: #fdfdfd;
$gray: #d5d5d5;
$activityWidth: 240px;
$listWidth: 250px;
$yellow: #FFE11A;
$blue: #004358;
$green: #1F8A70;
$orange: #FD7400;
$lightGreen: #BEDB39;
$lightBlue: #2e93c2;
$veryLightBlue: #47abdf;


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	background-color: $veryLightBlue;
}

ul {
	list-style-type: none;
	padding:0;
	margin:0
}

h4 {
	text-align: center;
	margin: 0px;
}

h6 {
	text-align: center;
	font-size: 8pt;
	margin: 0px;
	margin-top: 2px;
}

p {
	margin: 0px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#mainFrame {
	/*background-color: $lightGreen;*/
	height: 1000px;
}

#parkedActivitiesView {
	background-color: $lightGray;
	float: left;
	width: $listWidth + 10px;
	//height: 100%;
	min-height: 250px;
	/*border: 1px solid $gray;*/
	border-radius: 5px;
	padding-bottom: 5px;
}

#parkedActivitiesHeader {
	height: 150px;
	margin: 5px;
	padding: 5px;
}

.activityList {
	margin: 5px;
	min-height: 20px;
	min-width: $listWidth;
	background-color: $lightGray;
}

#addActivityButton {
	width: 180px;
	border-radius: 5px;
	background-color: $blue;
	border: none;
	padding: 10px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
	margin-top: 40px;
}

.activityObject {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 5px;
	width: $activityWidth;
}



.activityTime {
	width: $activityWidth;
	height: 20px;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: -7px;	
	margin-top: 6px;
	float: left;
	display: block;
}

.topButton {
	border-radius: 5px;
	background-color: $blue;
	border: none;
	padding-top: 0px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
}

.activityInfo {
	border-radius: 5px;
	width: $activityWidth;
	height: 100%;
	border: 1px solid white;
	float: left;
	background-color: $gray;
}

.tooShort {
	border-bottom: 1px dotted orange;
}

.activityTitle {
	height: 20px;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
}

.activityPlaceholder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: $activityWidth;
	background-color: $lightGray;
	float:left;
}

.activityLocation {
	padding: 3px;
	font-size: 10pt;
}

.activityDescription {
	padding: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	//display: inline;
}

/*.activityListFooter {
	width: $activityWidth;
	height: 40px;
	background-color: $lightGray;
}*/

#addDay {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: $blue;
	border: none;
	padding: 8px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
	margin-top: 100px;
	margin-left: 20px;
	float: left;
}

#daysView {
	/*background-color: white;*/
	margin-left: 280px;
	height: 100%;
	width: 3000px;
	position: absolute;
	overflow-x: scroll; 
}

.day {
	border-radius: 5px;
	background-color: $lightGray;
	width: $listWidth + 10px;
	//height: 100%;
	min-height: 250px;
	float: left;
	margin-left: 5px;
	margin-right: 0px;
	padding-bottom: 10px;
	/*border: 1px solid $gray;*/
}

.dayHeader {
	height: 150px;
	border-radius: 5px 5px 0px 0px;
	/*border-bottom: 1px solid $lightGray;*/
	background-color: $gray;
	padding: 5px
}

.dayHeaderTitle {
	text-align: center;
}

.dayActivities {
	border: 1px solid black;
	margin-top: 10px;
}

.marked {
	background-color: purple;
}

.btn {
	border-radius: 5px;
	background-color: $blue;
	border: none;
	padding: 8px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
}

.badBtn {
	background-color: red;
}

.modal_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}

.modal {
	width: 400px;
	position: relative;
	margin: 5% auto;
	background-color: #fff;
	max-height: 100%;
	overflow: scroll;
}

.popupHeader {
	background-color: $blue;
	padding: 10px;
	overflow: hidden;
}

.popupHeader_title {
	float: left;
}

.popupHeader_button {
	float: right;
	cursor: pointer;
}

.modalinput {
	position: relative;
	width: 360px;
	padding: 8px 5px;
	margin-bottom: 10px;
	border: solid #d6d6d6 1px;
	resize: none;
	font-size: 12pt;
}

.modalinputNumber {
	width: 55px;
}

.modalinputNumber4 {
	width: 80px;
}

.modalLabel {
	color: $gray;
}

.yearLabel {
	width: 80px;
	padding-bottom: 0px;
}

.monthLabel {
	width: 55px;
	padding-bottom: 0px;
}

.dayLabel {
	width: 55px;
	padding-bottom: 0px;
}

.popupForm {
	padding: 20px 12px;
	background-color: $lightGray;
}

.presentation_color {
	background-color: $blue;
	height: 10px;
	width: 30px;
	border-radius: 5px;
	float: right;
	margin: 5px;
}

.group_work_color {
	background-color: $orange;
	height: 10px;
	width: 30px;
	border-radius: 5px;
	float: right;
	margin: 5px;
}

.discussion_color {
	background-color: $green;
	height: 10px;
	width: 30px;
	border-radius: 5px;
	float: right;
	margin: 5px;
}

.break_color {
	background-color: $yellow;
	height: 10px;
	width: 30px;
	border-radius: 5px;
	float: right;
	margin: 5px;
}

#scheduleList {
	background-color: gray;
	padding: 5px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

#scheduleListTable {
	width: 100%;
}

.scheduleListItem {
	background-color: white;
	cursor: pointer;
	padding: 2px;
	margin-bottom: 2px;
	overflow: hidden;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.fullwidth {
	width: 100%;
}

.title {
	font-size: 18pt;
	margin-top: 0pt;
	margin-bottom: 20px;
	overflow: hidden;
}

#scheduleTitleInput {
	font-size: 14pt;
}

.editDay {
	cursor: pointer;
	display: none;
}

.editActivity {
	position: relative;
	top: 2px;
	left: 2px;
	cursor: pointer;
	display: none;
}

.dayHeader:hover .editDay {
	position: relative;
	top: 2px;
	left: 2px;
	float: left;
	display: inline;
}

.activityObject:hover .editActivity {
	position: relative;
	top: 2px;
	left: 2px;
	z-index: 50;
	float: left;
	display: inline-block;
}

.weather {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid $gray;
	float: right;
}

.scheduleAsList {
	border: 1px solid black;
}

.diagramContainer {
	float: right;
	position: relative;
	height: 160px;
	margin-right: -5px;
	margin-top: -5px;
}

.diagram {
	width: 30px;
	background-color: red;	
}

.diagramPresentation {
	background-color: $blue;
}

.diagramGroupWork {
	background-color: $orange;
}

.diagramDiscussion {
	background-color: $green;
}

.diagramBreak {
	background-color: $yellow;
}

.diagramLine {
	background-color: red;
	position: absolute;
	height: 2px;
	width: 36px;
	margin-left: -3px;
	top: 119px;
}