@import "constants";

html {
	height: 100%;
}

body {
	font-family: "Helvetica Neue Thin", "Helvetica", Arial, sans-serif;
	font-size: 10pt;
	background-color: $bodyBackground;
	margin-top: 0;
	margin-left: 0;
	height: 100%;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
	padding:0;
	margin:0
}

h4 {
	text-align: center;
	margin: 0px;
}

p {
	margin: 0px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.border {
	border: 1px solid black;
}

.dayName {
	text-align: center;
	font-size: 9pt;
	margin: 0px;
	margin-top: 2px;
	height: 20px;
}

#header {
	/*margin-top: -3px;*/
	background-color: $almostBlack;
	width: 100%;
	height: $headerHeight;
}

#mainFrame {
	width: 100%;
	height: 100%;
	padding-bottom: 10px;
	position: fixed;
}

#parkedActivitiesView {
	padding-top: $standardSpace;
	padding-bottom: $standardSpace;
	width: $listWidth + $listMargin;
	background-color: $lightGray;
	float: left;
	border-right: solid $darkGray 1px;
}

#parkedActivitiesHeader {
	height: $dayHeaderHeight;
	padding-top: $standardSpace;
}

.activityList {
	margin: 5px;
	min-height: 20px;
	min-width: $listWidth;
	border-radius: $borderRadius;
	overflow-y: scroll;
	overflow-x: hidden;
}

.parkedActivityList {
	height: 100%;
}

.dayActivityList {
	min-height: 150px;
}

#addActivityButton {
	position: relative;
	float: none;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
}

.activityObject {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 8px;
	width: $activityWidth;
	border-radius: $borderRadius;
	cursor: default;
}

.activityTime {
	width: $activityWidth;
	height: 13px;
	text-align: center;
	padding-bottom: 0px;
}

.topButton {
	border-radius: $borderRadius;
	background-color: $buttonClr;
	border: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	color: #ffffff;
	font-size: 14pt;
	cursor: pointer;
}



/*.buttonImage {
	margin-top: 6px;
}*/

.activityInfo {
	border-radius: $borderRadius;
	width: $activityWidth;
	height: 100%;
	background-color: $activityInfoBackground;
	margin-top: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 3px;
	display: block;
}

/*.tooShort {
	border-bottom: 1px;
	border-style: dotted;
}*/

.activityTitle {
	padding: $activityInfoTop;
	height: $activityTitleHeight;
	background-color: $darkGray;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
	text-align: center;
}

.activityName {
	float: left;
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.activityPlaceholder {
	margin-left: auto;
	margin-right: auto;
	width: $activityWidth;
	border-radius: $borderRadius;
	margin-top: $activityTitleHeight;
	margin-bottom: 8px;
}

.activityLocation {
	padding: 3px;
	font-size: 10pt;
	font-style: italic;
}

.activityDescription {
	padding: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*.activityListFooter {
	width: $activityWidth;
	height: 40px;
	background-color: $lightGray;
}*/

#daysViewContainer {
	overflow: auto;
	padding: $standardSpace;
}

#daysView {
	height: 100%;
	overflow: hidden;
}

.day {
	border-radius: $borderRadius;
	background-color: $lightGray;
	width: $listWidth + $listMargin;
	max-height: 100%;
	min-height: 250px;
	float: left;
	margin-right: $standardSpace;
	overflow: hidden;
	/*border: 1px solid $gray;*/
}

.placeholderBackground {
	background-color: $darkGray
}

.dayHeader {
	height: $dayHeaderHeight;
	/*border-radius: $borderRadius $borderRadius 0px 0px;*/
	/*border-bottom: 1px solid $lightGray;*/
	background-color: $gray;
	padding: 5px
}

.dayHeaderTitle {
	text-align: center;
}

.dayInfoTable {
	font-size: 9pt;
}

.dayActivities {
	border: 1px solid black;
	margin-top: 10px;
}

.smallSelect {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0px;
	min-width: 24px;
	padding: 3px;
	color: $buttonTextClr;
	border: none;
	text-indent: 2px;
	background: $buttonClr;
}

.noBorderRight {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.noBorderLeft {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.betweenSelects {
	margin-right: -3px;
	margin-left: -3px;
}

.marked {
	background-color: purple;
}

.btn {
	border-radius: $borderRadius;
	background-color: $buttonClr;
	border: none;
	padding: 8px;
	color: $buttonTextClr;
	font-size: 12pt;
	cursor: pointer;
	float: right;
	margin-bottom: 10px;
	margin-left: 5px;
}

.badBtn {
	background-color: red;
}

.smallBtn {
	font-size: 11pt;
	padding:0;
	padding-right: $standardSpace;
	padding-left: $standardSpace;
	height: 27px;
	min-width: 35px
}

.modal_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}

.modal {	
	width: 400px;
	position: relative;
	margin: 5% auto;
	background-color: $modalBackground;
	max-height: 100%;
	overflow: auto;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
}

.popupHeader {
	background-color: $popupHeader;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
	padding: 10px;
	margin-top: -1px;
	overflow: hidden;
	color: black;
}

.popupHeader_title {
	float: left;
}

.popupHeader_button {
	float: right;
	cursor: pointer;
}

.modalinput {
	position: relative;
	width: 360px;
	padding: 5px 5px;
	margin-bottom: 10px;
	border: $modalInputBorder;
	/*border: 1px solid white;*/
	/*border-radius: $borderRadius;*/
	resize: none;
	font-size: 10pt;
}

.modalSelect {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: $buttonTextClr;
	border: none;
	text-indent: 2px;
	background: $buttonClr url("popupmenuarrow_white.png") no-repeat 98% 50%;
	border-top-right-radius: $borderRadius;
}

.modalinputNumberLeft {
	width: 30px;
	background: $buttonClr;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: 5px;
}

.modalinputNumberRight {
	width: 30px;
	background: $buttonClr;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.modalinputNumberMiddle {
	width: 30px;
	background: $buttonClr;
	border-radius: 0;
}

.modalinputNumber4 {
	width: 45px;
	background: $buttonClr;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.modalLabel {
	color: black;
}

.yearLabel {
	text-align: center;
	width: 40px;
	padding-bottom: 0px;
}

.monthLabel {
	text-align: center;
	width: 29px;
	padding-bottom: 0px;
}

.dayLabel {
	text-align: center;
	width: 29px;
	padding-bottom: 0px;
}

.popupForm {
	padding: 20px 12px;
}

.typeIndicator {
	height: 10px;
	width: 30px;
	border-radius: $borderRadius;
	float: right;
	margin-top: $activityTypeColorMargin;
}

#scheduleListContainer {
	background-color: $almostBlack;
	border-radius: $borderRadius;
	padding: 5px;
	width: 600px;
	margin-top: $standardSpace;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.scheduleListTable {
	width: 100%;
	background-color: $lightGray;
	border-radius: $borderRadius;
	padding: 2px;
	margin-top: 20px;
	margin-bottom: 15px;
	overflow: hidden;
	border-collapse: collapse;
	font-size: 11pt;
}

.scheduleListTable th {
	text-align: left;
	padding: 5px;
	background-color: $gray;
}

.scheduleListTable tr {
	background-color: $lightGray;
	border-bottom: 1px solid $gray;
	height: 30px;
}

.scheduleListTable tr:last-child {
	border-bottom: none;
}

.scheduleListClickable {
	cursor: pointer;
}

.scheduleListTable td {
	padding: 5px;
}

.scheduleListCol2 {
	width: 50px;
}

.scheduleListCol3 {
	width: 50px;
}

.scheduleListCol4 {
	width: 10px;
}

.deleteSchedule {
	opacity: 0.0;
	cursor: pointer;

	-o-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-khtml-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.scheduleListTable tr:hover .deleteSchedule {
	opacity: 1.0;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.fullwidth {
	width: 100%;
}

.title {
	font-size: 14pt;
	margin-top: 1pt;
	overflow: hidden;
	color: $lightGray;
}

#scheduleTitleInput {
	width: 300px;
	margin-top: -2px;
	margin-left: 7px;
	font-size: 14pt;
}

.scheduleViewTop {
	position: absolute;
	top: $standardSpace + 2;
	left: 7px;
}

#editScheduleName {
	float: left;
	color: white;
	margin-top: 5px;
	margin-left: $standardSpace;
	opacity: 0.0;
	cursor: pointer;

	-o-transition: all $fadeTime linear;
	-moz-transition: all $fadeTime linear;
	-khtml-transition: all $fadeTime linear;
	-webkit-transition: all $fadeTime linear;
	-ms-transition: all $fadeTime linear;
	transition: all $fadeTime linear;
}

#header:hover #editScheduleName {
	opacity: 1.0;
}

.scheduleViewTopItem {
	float: left;
	height: 25px;
	vertical-align: middle;
}

#scheduleTitle {
	margin-left: $standardSpace;
}

#addDay {
	position: absolute;
	right: 190px;
	top: 12px;
}

.infoBox {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 37px;
	width: 170px;
	padding-left: 3px;
	background-color: $gray;
	font-size: 8pt;
	border-radius: $borderRadius;
	border: 1px solid $bodyBackground;
}

.infoBoxTable td {
	width: 90px;
}

.editDay {
	position: relative;
	top: 2px;
	left: 2px;
	height: 20px;
	float: left;
	cursor: pointer;

	opacity: 0.0;
	filter: alpha(opacity=0);

	/*for making edit button fade in*/
	-o-transition: all $fadeTime linear;
	-moz-transition: all $fadeTime linear;
	-khtml-transition: all $fadeTime linear;
	-webkit-transition: all $fadeTime linear;
	-ms-transition: all $fadeTime linear;
	transition: all $fadeTime linear;
}

.editActivity {
	position: relative;
	z-index: 50;
	cursor: pointer;
	float: left;
	width: 26px;
	text-align: left;

	opacity: 0.0;
	filter: alpha(opacity=0);

	/*for making edit button fade in*/
	-o-transition: all $fadeTime linear;
	-moz-transition: all $fadeTime linear;
	-khtml-transition: all $fadeTime linear;
	-webkit-transition: all $fadeTime linear;
	-ms-transition: all $fadeTime linear;
	transition: all $fadeTime linear;
}

.dayHeader:hover .editDay {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.dayHeader td {
	height: 16px;
	padding-right: 7px;
	cursor: default;
}

.activityObject:hover .editActivity {
	opacity: 1.0;
	filter: alpha(opacity=100);
}


.weather {
	margin-top: -12px;
	margin-right: 6px;
	float: right;
}

.weatherInfo {
	margin-top: -10px;
	text-overflow: ellipsis;
}

.weatherNotification {
	margin-top: 30px;
}

.diagramContainer {
	float: right;
	position: relative;
	height: $dayHeaderHeight + 10;
	margin-right: -5px;
	margin-top: -5px;
	cursor: help;
	overflow: hidden;
}

.diagram {
	width: 10px;
	background-color: red;
}

.diagramInfoContainer {
	position: relative;
}

.diagramInfo {
	font-size: 8pt;
	position: absolute;
	float: none;
	color: red;
	margin-left: 165px;
	margin-top: 64px;
	padding: 2px;
	background-color: $lightGray;
	border-radius: $borderRadius;
	z-index: 100;
	border: solid 1px $darkGray;

	opacity: 0.0;
	filter: alpha(opacity=0);

	/*for making edit button fade in*/
	-o-transition: all $fadeTime linear ;
	-moz-transition: all $fadeTime linear;
	-khtml-transition: all $fadeTime linear;
	-webkit-transition: all $fadeTime linear;
	-ms-transition: all $fadeTime linear;
	transition: all $fadeTime linear;

	-webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.diagramContainer:hover + .diagramInfoContainer .diagramInfo {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.diagramLine {
	background-color: red;
	position: absolute;
	height: 2px;
	width: 36px;
	margin-left: -3px;
	top: ($dayHeaderHeight + 10) * 0.7;
}

/* I cant understand why, but these must be defined here again, despite also being defined in constants */

.presentation {
	background-color: $presentation;
}

.group_work {
	background-color: $group_work;
}

.discussion {
	background-color: $discussion;
}

.break {
	background-color: $break;
}

