<template name="changePasswordView">
	<div class="modal_overlay">
		<div class="modal">
			<div class="popupHeader">
				<div class="popupHeader_title">
					Change password
				</div>
				<div class="popupHeader_button">
					X
				</div>
			</div>
			<form id="changePasswordForm" class="popupForm">
				<label for="oldPassword" class="modalLabel">Old password</label>
				<input type="password" name="oldPassword" class="modalinput"/><br/>

				<label for="newPassword1" class="modalLabel">New password</label>
				<input type="password" name="newPassword1" class="modalinput"/><br/>

				<label for="newPassword2" class="modalLabel">Re-type new password</label>
				<input type="password" name="newPassword2" class="modalinput"/><br/>

				<div class="errorText">{{loginError}}</div>

				<button type="submit" class="btn">Change password</button>
			</form>
		</div>
	</div>
</template>