<template name="listView">
	<div class="listViewFrame">
		<div class="listViewDayTitle">Parked activities</div>
		<table class="scheduleAsList">
			<tr class="tableHeader">
				<th class="col0 leftRoundCorner">
					Length
				</th>
				{{> scheduleListHeader}}
			</tr>
			{{#each parkedActivities}}
				{{> activity_listView}}
			{{/each}}
		</table>

		{{#each days}}
			<div class="listViewDayTitle">Day {{dayNumber}}</div>
			<div class="listViewDayInfo">
				{{#if this.dayTitle}}"{{this.dayTitle}}" | {{/if}}
				{{#if this.date}}{{this.date.year}}-{{this.date.month}}-{{this.date.day}} | {{/if}}
				Start: {{startTimeHuman}} | 
				Length: {{dayLength}} | 
				End: {{dayEnd}} | 
				<span class="editDay_listView">✎</span>
			</div>

			<table class="scheduleAsList">
				<tr>
					<th class="col0 leftRoundCorner">
						Start time
					</th>
					{{> scheduleListHeader}}
				</tr>
				{{#each activities}}
					{{> activity_listView}}
				{{/each}}
			</table>
		{{/each}}
	</div>
</template>

<template name="activity_listView">
	<tr>
		<td>
			{{#if activityStartSet}}
				{{activityStart}}
			{{else}}
				{{activityLength}} min
			{{/if}}
		</td>
		<td>
			<div class="blob {{this.type}}"></div>
			{{activityType}}
		</td>
		<td>
			{{this.title}}
		</td>
		<td>
			{{this.location}}
		</td>
		<td>
			{{this.description}}
		</td>
		<td>
			<span class="editActivity_listView">✎</span>
		</td>
	</tr>
</template>

<template name="scheduleListHeader">
	<th class="col1">
		Type
	</th>
	<th class="col2">
		Title
	</th>
	<th class="col3">
		Location
	</th>
	<th class="col4">
		Description
	</th>
	<th class="col5 rightRoundCorner">
	</th>
</template>