<template name="loginView">
	{{#if loggedIn}}
		{{> schedules}}
	{{else}}
		{{> loginForm}}
	{{/if}}
</template>

<template name="loginForm">
	<img src="skeduls_frontpagelogo.png" id="loginLogo"/>

	{{#if createAccount}}
		<form id="createAccountForm">
			<div class="loginForm">
				<input type="email" placeholder="E-mail" name="email" id="email" autofocus="autofocus"/>
				<input type="password" placeholder="Password" name="password"/>
				<div class="errorText">{{loginError}}</div>
				<button type="submit" class="btn">Create</button>
				<button class="btn" name="cancel" id="cancel">Cancel</button>
			</div>
		</form>

		<div class="extraLoginLinks">
			<a href="#" id="toLogin" class="floatLeft">Log in</a>
		</div>
	{{else}} {{#if forgotPassword}}
		<form id="forgotPasswordForm">
			<div class="loginForm">
				<input type="email" placeholder="E-mail" name="email" id="email" autofocus="autofocus"/>
				<div class="errorText {{friendly}}">{{loginError}}</div>
				<div class="additionalFuckingDataIfOnly1FieldInLoginForm">
					<button type="submit" class="btn">Send reset instructions</button>
				</div>
			</div>
		</form>

		<div class="extraLoginLinks">
			<a href="#" id="toLogin" class="floatLeft">Log in</a>
			<a href="#" id="createAccount" class="floatRight">Create account</a>
		</div>
	{{else}} {{#if resetPassword}}
		<form id="resetPasswordForm">
			<div class="loginForm">
				<input type="password" placeholder="New password" name="newPassword" autofocus="autofocus"/>
				<div class="errorText">{{loginError}}</div>
				<div class="additionalFuckingDataIfOnly1FieldInLoginForm">
					<button type="submit" class="btn">Change password</button>
				</div>
			</div>
		</form>

		<div class="extraLoginLinks">
			<a href="#" id="toLogin" class="floatLeft">Log in</a>
			<a href="#" id="createAccount" class="floatRight">Create account</a>
		</div>
	{{else}}
		<form id="loginForm">
			<div class="loginForm">
				<input type="email" placeholder="E-mail" name="email" id="email" autofocus="autofocus"/>
				<input type="password" placeholder="Password" name="password"/>
				<div class="errorText">{{loginError}}</div>
				<button type="submit" class="btn">Sign in</button>
			</div>
		</form>

		<div class="extraLoginLinks">
			<a href="#" id="forgotPassword" class="floatLeft">Forgot password</a>
			<a href="#" id="createAccount" class="floatRight">Create account</a>
		</div>
	{{/if}}{{/if}}{{/if}}

</template>