<template name="newActivityView">
	{{#if addActivityModal}}
	<div class="modal_overlay">
		<div class="modal">

			<div class="popupHeader">
				<div class="popupHeader_title">Create new activity</div>
				<div class="popupHeader_button" id="closeModal">X</div>
			</div>

			<form class="popupForm newActivity">
				<input class="modalinput" type="text" name="title" placeholder="Title"/>
				<input class="modalinput" type="text" name="location" placeholder="Location"/>
				<label class="modalLabel" for="length">Length</label>
				{{> timeSelectors}}

				<label class="modalLabel" for="type">Type</label>
				{{> activityTypeSelector}}

				<label class="modalLabel" for="target">Create activity in</label>
				{{> placementSelector}}

				<label class="modalLabel" for="description">Description</label>
				<textarea class="modalinput" name="description" rows="8" cols="40"></textarea>
				<button class="btn" type="submit">Create new</button>
			</form>

		</div>
	</div>
	{{/if}}
</template>
