<template name="newActivityView">
	{{#if addActivityModal}}
	<div class="modal_overlay">
		<div class="modal">

			<div class="popupHeader">
				<div class="popupHeader_title">Create new activity</div>
				<div class="popupHeader_button" id="closeModal">X</div>
			</div>

			<form class="popupForm newActivity">
				<input class="modalinput" type="text" name="title" placeholder="Title"/>
				<input class="modalinput" type="text" name="location" placeholder="Location"/>
				<label class="modalLabel" for="length">Length</label>
				<select class="modalinput modalinputNumber" name="lengthH">
					{{#each hours}}
						{{#if selectedHour}}
							<option value="{{this}}" selected="selected">{{this}}</option>
						{{else}}
							<option value="{{this}}">{{this}}</option>
						{{/if}}
					{{/each}}
				</select>
				<select class="modalinput modalinputNumber" name="lengthM">
					{{#each minutes}}
						{{#if selectedMinute}}
							<option value="{{this}}" selected="selected">{{this}}</option>
						{{else}}
							<option value="{{this}}">{{this}}</option>
						{{/if}}
					{{/each}}
				</select>
				<br/>

				<label class="modalLabel" for="type">Type</label>
				<select class="modalinput" name="type">
					<option value="presentation">Presentation</option>
					<option value="group_work">Group work</option>
					<option value="discussion">Discussion</option>
					<option value="break">Break</option>
				</select>

				<label class="modalLabel" for="target">Create activity in</label>
				<select class="modalinput" name="target">
					<option value="parkedActivities">Parked activities</option>
					{{#each days}}
						<option value="{{dayNumber}}">Day {{dayNumber}}, {{dayTitle}}</option>
					{{/each}}
				</select>

				<label class="modalLabel" for="description">Description</label>
				<textarea class="modalinput" name="description" rows="8" cols="40"></textarea>
				<button class="btn" type="submit">Create new</button>
			</form>

		</div>
	</div>
	{{/if}}
</template>
