<template name="newDayView">
	{{#if addDayModal}}
	<div class="modal_overlay">
		<div class="modal">

			<div class="popupHeader">
				<div class="popupHeader_title">Create new day</div>
				<div class="popupHeader_button" id="closeModal">X</div>
			</div>

			<form class="popupForm" id="addNewDay">
				<input class="modalinput" type="text" name="dayTitle" placeholder="Title"/>
				<!-- <input class="modalinput" type="text" name="location" placeholder="Location"/> -->
				<label class="modalLabel">Start time</label>

				{{> timeSelectors}}

				{{> dateSelectors}}
				
				<button class="btn" type="submit">Create new</button>
			</form>

		</div>
	</div>
	{{/if}}
</template>
