<template name="schedules">
	<div id="userInfo">
		<img src="user.png"/>
		<span id="user">{{user}}</span><br/>
		<a href="#" id="logOut">Sign out</a> | <a href="#" id="changePassword">Change password</a>

		{{#if changePassword}}
			{{> changePasswordView}}
		{{/if}}
	</div>

	<div id="scheduleListContainer">
		<div class="title">
			Schedules
		</div>
		
		<table class="scheduleListTable fullwidth" id="scheduleList">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Days
					</th>
					<th>
						Activities
					</th>
					<th>

					</th>
				</tr>
			</thead>
			<tbody>
				{{#each schedules}}
					<tr id="{{_id}}">
						<td class="scheduleListClickable scheduleListCol1">
							{{scheduleTitle}}
						</td>
						<td class="scheduleListClickable scheduleListCol2">
							{{numberOfDays}}
						</td>
						<td class="scheduleListClickable scheduleListCol3">
							{{numberOfActivities}}
						</td>
						<td class="deleteSchedule scheduleListCol4">
							╳
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<button id="newSchedule" class="btn">Create new schedule</button>
	</div>
</template>

<template name="newSchedule">
	<div class="modal_overlay">
		<div class="modal">
			<div class="popupHeader">
				<div class="popupHeader_title">
					Create new schedule
				</div>
				<div class="popupHeader_button closeNewScheduleModal">
					X
				</div>
			</div>

			<form class="popupForm">
				<input class="modalinput" type="text" name="scheduleName" placeholder="Schedule name" required="true"/>
				<label class="modalLabel" for="numberOfDays">Number of days</label>
				<input class="modalinput" type="number" name="numberOfDays" min="0" value="1" required="true"/>
				<button class="btn" type="submit">Create new</button>
			</form>
		</div>
	</div>
</template>

<template name="deleteSchedule">
	<div class="modal_overlay">
		<div class="modal">
			<div class="popupHeader">
				<div class="popupHeader_title">
					Delete schedule
				</div>
				<div class="popupHeader_button closeDeleteScheduleModal">
					X
				</div>
			</div>

			<form class="popupForm">
				Are you sure you want to delete the schedule "{{scheduleTitle}}"? The schedule contains {{numDays}} days. The action can not be undone.<br/>
				<button class="btn closeDeleteScheduleModal">Cancel</button>
				<button class="btn badBtn" type="submit">Delete</button>
			</form>
		</div>
	</div>
</template>